# ---- Python ----
__pycache__/
*.py[cod]
*$py.class

# Virtual envs
.venv/
venv/
env/
.env/

# Packaging
build/
dist/
*.egg-info/

# Jupyter
.ipynb_checkpoints/

# Logs
*.log

# OS cruft
.DS_Store
Thumbs.db

# ---- IDE ----
.idea/

# ---- Project-specific: expose only sample outputs ----
# ignore everything under output
output/**

# re-include the path chain to the sample folder
!output/
!output/matcher/
!output/matcher/sample-output/
!output/matcher/sample-output/**


# If you kept a space in the folder name instead:
#!output/matcher/sample\ output/**

# Keep a placeholder if you use one
!output/.gitkeep
