# ---- Python ----
__pycache__/
*.py[cod]
*$py.class

# Virtual envs
.venv/
venv/
env/
.env/

# Packaging
build/
dist/
*.egg-info/

# Jupyter
.ipynb_checkpoints/

# Logs
*.log

# OS cruft
.DS_Store
Thumbs.db

# ---- IDE ----
.idea/

# ---- Project-specific: expose only sample outputs ----
# ignore everything in output by default
output/**

# keep these so GitHub won't collapse the path
!output/README.md
!output/matcher/
!output/matcher/README.md
!output/matcher/sample-output/**



# ignore everything under data/
grid_matcher/data/**

# but keep the placeholder file
!grid_matcher/data/.gitkeep


# If you kept a space in the folder name instead:
#!output/matcher/sample\ output/**

# Keep a placeholder if you use one
!output/.gitkeep
